html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

img{
	border: none;
}

.clearfix{
	clear: both;
}

.box-center{
	width: 1155px;
	margin: 0px auto;
}

/*Header */

#header{
	background: url(images/bgr-header.png) repeat-x top left;
	position: relative;
	min-height: 85px;
}

#header:after{
	content: "";
	background: url(images/bottom-header.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	height: 85px;
	z-index: 3;
}

#header .box-center{
	position: relative;
}

.logo{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9;
}

.navigation{
	float: right;
}

.navigation ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}

.navigation ul li{
	display: inline-block;
	vertical-align: top;
}

.navigation ul li a{
	display: block;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	padding: 0px 25px;
	line-height: 65px;
	background: url(images/border.png) no-repeat left center;
}

.navigation ul li:first-child a{
	background: none;
}

.navigation ul li:hover a, .navigation ul li a:hover{
	color: #ddd;
}

.control-more{
	position: absolute;
	right: 0px;
	top: 150%;
	left: 55%;
	background: #213f7b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxM2Y3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTg5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjA3Y2NhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYTBkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #213f7b 0%, #2989d8 100%, #207cca 100%, #00a0db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#213f7b), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#00a0db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #213f7b 0%,#2989d8 100%,#207cca 100%,#00a0db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #213f7b 0%,#2989d8 100%,#207cca 100%,#00a0db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #213f7b 0%,#2989d8 100%,#207cca 100%,#00a0db 100%); /* IE10+ */
	background: linear-gradient(to right,  #213f7b 0%,#2989d8 100%,#207cca 100%,#00a0db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213f7b', endColorstr='#00a0db',GradientType=1 ); /* IE6-8 */
	z-index: 9;
}

.control-more:after{
	content: "";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0px;
	height: 0px;
	border-width: 25px;
	border-style: solid;
	border-color: transparent #213f7b #213f7b transparent;
}

.control-more .frm-search{
	padding: 7px 0px 7px 30px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}



.frm-search form{
	position: relative;
}

.frm-search input[type="text"]{
	line-height: 34px;
	font-size: 13px;
	color: #a6a6a6;
	padding: 0px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d6d6d6;
	border-radius: 1px;
}

.frm-search input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a6a6a6;
}
.frm-search input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a6a6a6;
   opacity:  1;
}
.frm-search input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a6a6a6;
   opacity:  1;
}
.frm-search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #a6a6a6;
}

.frm-search input[type="submit"]{
	position: absolute;
	right: 5px;
	top: 0px;
	text-indent: -9999px;
	background: url(images/icon-search.png) no-repeat center center;
	border: none;
	height: 34px;
	width: 34px;
	cursor: pointer;

}

.control-more .language{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.language ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}

.language ul li{
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #448ccb;
	padding: 0px 15px;

}

.language ul li:first-child{
	border: none;
}

/*Slider*/
.bx-wrapper{
	margin: 0px;
}
.bx-wrapper .bx-viewport{
	box-shadow: none;
	border: none;
}

.bx-wrapper .bx-viewport .bxslider{
	margin: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	background: #afafaf;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 15px;
}




/*about-us*/
.main-content{
	padding: 0 35px 0 35px;
}
.head-content{
	text-align: center;
	padding: 40px 0;
	color: #363636;
	position: relative;
}
.head-content .title{
	font-size: 30px;
	font-weight: 700;
}
.head-content .description{
	font-family: Times New Roman;
	font-style: italic;
	font-size: 23px;
	padding: 0 190px;
	text-indent: 20px;	
}
.head-content i.fa{
	background: #000000;
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	line-height: 28px;
	color: #ffffff;
	font-size: 20px;
	
}
.hr{
	background: url(images/bgr-about-us.png) repeat-x left center;
	text-align: center;
}

.hr .inner-hr{
	padding: 0px 40px;
	background: #fff;
	display: inline-block;
	vertical-align: top;
}
.bottom-content{
	width: 100%;
}
.left-bottom-content{
	float: left;
	width: 60%;
	text-align: justify;
}
.left-bottom-content p{
	font-size: 15px;
	color: #252525;
	font-weight: 300;
	line-height: 30px;
}
.right-bottom-content{
	float: right;
	width: 40%;
	text-align: right;
}